 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 
body{
    background-color: rgb(170, 126, 214);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;

}

.cabecalho{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color: rgb(91, 6, 139);
    color: rgb(7, 0, 0);
    padding: 10px 0;
}